* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5eaf8;
    color: black ;
    min-height: 100vh;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    border-bottom: 2px solid #3a3a3c;
}
.nav-links a {
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

#instructions {
    max-width: 600px;
    margin: 25px auto;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

#instructions h2 {
    text-align: center;
    margin-bottom: 15px;
}

#instructions h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#instructions p {
    margin: 5px 0;
}

#instructions ul {
    margin-top: 5px;
}

.example-green {
    color: green;
}

.example-yellow {
    color: #b59f00;
}

.example-gray {
    color: gray;
}


#board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;

    justify-content: center;
    margin: 20px auto;
}
.tile {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
}
.tile.correct {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.tile.present {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.tile.absent {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}

.hidden{
    display: none;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    max-width: 500px;
    margin: 20px auto;
}

.key {
    width: 40px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

